# **Amazon Sales Analysis**

## **Problem Statement**

Sales management has gained importance due to increasing competition and the need for improved distribution methods to reduce costs and increase profits. Sales management today is a critical function in commercial and business enterprises. The goal of this project is to analyze Amazon sales data to understand sales trends and identify key metrics that drive sales performance. By examining various attributes such as sales volume, product categories, and seasonal patterns, the analysis aims to provide actionable insights to enhance sales management and profitability.

## **Deliverables**

### 1. **ETL Process**
- **Extract:** Retrieve Amazon sales data from the provided dataset.
- **Transform:**
  - Cleanse the data to handle missing values, outliers, and inconsistencies.
  - Convert date-related fields into appropriate formats.
  - Aggregate data for month-wise, year-wise, and yearly_month-wise analysis.
- **Load:** Prepare the cleaned and transformed data for analysis, storing it in a format suitable for further exploration and visualization.

### 2. **Exploratory Data Analysis (EDA)**
- **Descriptive Statistics:** Generate summary statistics for key attributes, such as sales volume, product categories, and date-related fields.
- **Sales Trend Analysis:**
  - Analyze and visualize sales trends month-wise, year-wise, and yearly_month-wise to identify patterns and seasonal variations.
- **Key Metrics Identification:**
  - Determine key performance indicators (KPIs) such as total sales, average sales per month/year, and growth rates.
- **Relationship Analysis:**
  - Investigate relationships between different attributes (e.g., sales volume and product categories) to identify significant factors influencing sales.

### 3. **Dashboard Creation**
- **Interactive Dashboard:** Develop a dashboard using tools like Tableau or Power BI to visualize sales trends, key metrics, and relationships between attributes.
- **Key Metrics Visualization:** Display important metrics such as total sales, category-wise sales distribution, and highlight significant trends or insights.
- **Insights and Recommendations:** Summarize key findings and provide actionable recommendations based on the data analysis.

## **About the Data**

The dataset contains Amazon sales data with various attributes that provide information on sales volume, product categories, dates of sale, and other relevant factors. The data will be used to analyze trends and identify key metrics that drive sales performance.

## **Attribute Information**

- `Region`: The geographical region where the sales occurred.
- `Country`: The specific country within the region where the sales were made.
- `Item Type`: The type of item sold.
- `Sales Channel`: The channel through which the sale was made.
- `Order Priority`: The priority level of the order.
- `Order Date`: The date when the order was placed.
- `Order ID`: A unique identifier for each order.
- `Ship Date`: The date when the order was shipped.
- `Units Sold`: The number of units sold in the order.
- `Unit Price`: The price per unit of the item sold.
- `Unit Cost`: The cost per unit of the item sold.
- `Total Revenue`: The total revenue generated from the sale.
- `Total Cost`: The total cost associated with the sale.
- `Total Profit`: The total profit earned from the sale.

In [ ]:
# Mount google drive for access the dataset of Amazon Sales
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
## Import packages and libraries

import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# Read in the Amazon sales dataset.
df = pd.read_csv('/content/drive/MyDrive/AmazonSalesdata.csv')

In [ ]:
# Inspect the first 10 rows.
df.head(10)

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,5/28/2010,669165933,6/27/2010,9925,255.28,159.42,2533654.00,1582243.50,951410.50
1,Central America and the Caribbean,Grenada,Cereal,Online,C,8/22/2012,963881480,9/15/2012,2804,205.70,117.11,576782.80,328376.44,248406.36
2,Europe,Russia,Office Supplies,Offline,L,5/2/2014,341417157,5/8/2014,1779,651.21,524.96,1158502.59,933903.84,224598.75
3,Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,6/20/2014,514321792,7/5/2014,8102,9.33,6.92,75591.66,56065.84,19525.82
4,Sub-Saharan Africa,Rwanda,Office Supplies,Offline,L,2/1/2013,115456712,2/6/2013,5062,651.21,524.96,3296425.02,2657347.52,639077.50
5,Australia and Oceania,Solomon Islands,Baby Food,Online,C,2/4/2015,547995746,2/21/2015,2974,255.28,159.42,759202.72,474115.08,285087.64
6,Sub-Saharan Africa,Angola,Household,Offline,M,4/23/2011,135425221,4/27/2011,4187,668.27,502.54,2798046.49,2104134.98,693911.51
7,Sub-Saharan Africa,Burkina Faso,Vegetables,Online,H,7/17/2012,871543967,7/27/2012,8082,154.06,90.93,1245112.92,734896.26,510216.66
8,Sub-Saharan Africa,Republic of the Congo,Personal Care,Offline,M,7/14/2015,770463311,8/25/2015,6070,81.73,56.67,496101.10,343986.90,152114.20
9,Sub-Saharan Africa,Senegal,Cereal,Online,H,4/18/2014,616607081,5/30/2014,6593,205.70,117.11,1356180.10,772106.23,584073.87

In [ ]:
df.shape

(100, 14)

In [ ]:
# Get more information about the data, including data types of each column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Region          100 non-null    object
 1   Country         100 non-null    object
 2   Item Type       100 non-null    object
 3   Sales Channel   100 non-null    object
 4   Order Priority  100 non-null    object
 5   Order Date      100 non-null    object
 6   Order ID        100 non-null    int64
 7   Ship Date       100 non-null    object
 8   Units Sold      100 non-null    int64
 9   Unit Price      100 non-null    float64
 10  Unit Cost       100 non-null    float64
 11  Total Revenue   100 non-null    float64
 12  Total Cost      100 non-null    float64
 13  Total Profit    100 non-null    float64
dtypes: float64(5), int64(2), object(7)
memory usage: 11.1+ KB

In this case, notice that the `date` column is an 'object' type rather than a 'date' type. Objects are strings. When dates are encoded as strings, they cannot be manipulated as easily. Converting string dates to datetime will enable you to work with them much more easily.

Let's convert to datetime using the pandas function `to_datetime()`.

In [ ]:
# Convert 'Order Date' to datetime
df['Order Date'] = pd.to_datetime(df['Order Date'], format='%m/%d/%Y')

# Format 'Order Date' to 'DD-MM-YYYY'
df['Order Date'] = df['Order Date'].dt.strftime('%d-%m-%Y')

In [ ]:
# Convert 'Order Date' to datetime
df['Ship Date'] = pd.to_datetime(df['Ship Date'], format='%m/%d/%Y')

# Format 'Order Date' to 'DD-MM-YYYY'
df['Ship Date'] = df['Ship Date'].dt.strftime('%d-%m-%Y')

In [ ]:
df.head(10)

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,28-05-2010,669165933,27-06-2010,9925,255.28,159.42,2533654.00,1582243.50,951410.50
1,Central America and the Caribbean,Grenada,Cereal,Online,C,22-08-2012,963881480,15-09-2012,2804,205.70,117.11,576782.80,328376.44,248406.36
2,Europe,Russia,Office Supplies,Offline,L,02-05-2014,341417157,08-05-2014,1779,651.21,524.96,1158502.59,933903.84,224598.75
3,Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,20-06-2014,514321792,05-07-2014,8102,9.33,6.92,75591.66,56065.84,19525.82
4,Sub-Saharan Africa,Rwanda,Office Supplies,Offline,L,01-02-2013,115456712,06-02-2013,5062,651.21,524.96,3296425.02,2657347.52,639077.50
5,Australia and Oceania,Solomon Islands,Baby Food,Online,C,04-02-2015,547995746,21-02-2015,2974,255.28,159.42,759202.72,474115.08,285087.64
6,Sub-Saharan Africa,Angola,Household,Offline,M,23-04-2011,135425221,27-04-2011,4187,668.27,502.54,2798046.49,2104134.98,693911.51
7,Sub-Saharan Africa,Burkina Faso,Vegetables,Online,H,17-07-2012,871543967,27-07-2012,8082,154.06,90.93,1245112.92,734896.26,510216.66
8,Sub-Saharan Africa,Republic of the Congo,Personal Care,Offline,M,14-07-2015,770463311,25-08-2015,6070,81.73,56.67,496101.10,343986.90,152114.20
9,Sub-Saharan Africa,Senegal,Cereal,Online,H,18-04-2014,616607081,30-05-2014,6593,205.70,117.11,1356180.10,772106.23,584073.87

In [ ]:
# Get descriptive statistics
df.describe(include="all")

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
count,100,100,100,100,100,100,1.000000e+02,100,100.000000,100.000000,100.000000,1.000000e+02,1.000000e+02,1.000000e+02
unique,7,76,12,2,4,100,NaN,99,NaN,NaN,NaN,NaN,NaN,NaN
top,Sub-Saharan Africa,The Gambia,Clothes,Offline,H,28-05-2010,NaN,17-11-2010,NaN,NaN,NaN,NaN,NaN,NaN
freq,36,4,13,50,30,1,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,5.550204e+08,NaN,5128.710000,276.761300,191.048000,1.373488e+06,9.318057e+05,4.416820e+05
std,NaN,NaN,NaN,NaN,NaN,NaN,2.606153e+08,NaN,2794.484562,235.592241,188.208181,1.460029e+06,1.083938e+06,4.385379e+05
min,NaN,NaN,NaN,NaN,NaN,NaN,1.146066e+08,NaN,124.000000,9.330000,6.920000,4.870260e+03,3.612240e+03,1.258020e+03
25%,NaN,NaN,NaN,NaN,NaN,NaN,3.389225e+08,NaN,2836.250000,81.730000,35.840000,2.687212e+05,1.688680e+05,1.214436e+05
50%,NaN,NaN,NaN,NaN,NaN,NaN,5.577086e+08,NaN,5382.500000,179.880000,107.275000,7.523144e+05,3.635664e+05,2.907680e+05
75%,NaN,NaN,NaN,NaN,NaN,NaN,7.907551e+08,NaN,7369.000000,437.200000,263.330000,2.212045e+06,1.613870e+06,6.358288e+05
max,NaN,NaN,NaN,NaN,NaN,NaN,9.940222e+08,NaN,9925.000000,668.270000,524.960000,5.997055e+06,4.509794e+06,1.719922e+06

In [ ]:
df.isnull().sum()

Region            0
Country           0
Item Type         0
Sales Channel     0
Order Priority    0
Order Date        0
Order ID          0
Ship Date         0
Units Sold        0
Unit Price        0
Unit Cost         0
Total Revenue     0
Total Cost        0
Total Profit      0
dtype: int64

In [ ]:
# We can see that the datatype of both 'Order Date' and 'Ship Date' has been changed to datetime
# Now we will export this updated file so that we can use it for analysis
df.to_csv('Amazon_Sales_Data.csv', index=False)